{% extends '_base.html' %}


{% block content %}


<section id="landing_section">
    <h1>
        Settings
    </h1>
    <p>
        {{default_settings}}
    </p>
    <p>
        {{user_id}}
    </p>
    <button
        class="color_mode_toggle"
        data-action_url="{{url_for('cache_api.toggle_color_mode')}}"
        data-dark_mode="{{default_settings.dark_mode}}"
    >
        dark
    </button>
</section>

<section id="hidden_default_settings_ctnr">
    {% for setting in default_settings %}
        <br>
        <p
            class="default_settings"
            data-setting_name="{{setting}}"
        >
            {{setting}}
        </p>
    {% endfor %}
</section>

{% endblock %}