{% macro main_header() %}

<section id="header_section">
    <nav>
        <a href="">
            <div class="nav_link">
                <img
                    src=""
                    alt="logo_alt"
                >
            </div>
        </a>
        <div class="nav_link">
                <div class="nav_links_ctnr">
                    <a href="">
                        <div class="nav_link">
                            Home
                        </div>
                    </a>
                    <a href="">
                        <div class="nav_link">
                            APIs
                        </div>
                    </a>
                    <a href="">
                        <div class="nav_link">
                            Titleleap
                        </div>
                    </a>   
                </div>
            </div>
        </a>
    </nav>
</section>

{% endmacro %}