html, body {
  padding: 0;
  margin: 0; }

h1, h2, h3,
h4, h5, h6,
p, a, li,
ul {
  padding: 0;
  margin: 0;
  color: #fff; }

a {
  display: contents; }

#header_section {
  height: 10vh;
  background-color: #222; }
  #header_section nav {
    display: flex; }

#landing_section {
  background-color: #000;
  height: 100vh; }

#titleleap_section {
  background-color: #000;
  height: 100vh; }

#upwork_section {
  background-color: #000;
  height: 100vh; }
