html, body {
  padding: 0;
  margin: 0; }

h1, h2, h3,
h4, h5, h6,
p, a, li,
ul {
  padding: 0;
  margin: 0;
  color: #fff; }

a {
  display: contents; }

#header_section {
  background-color: #222; }
  #header_section #header_logo {
    width: 3em;
    filter: invert(1); }
  #header_section nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-shadow: 10px 10px 10px 10px #fff; }
  #header_section .nav_links_ctnr {
    display: flex;
    gap: 1em; }
  #header_section .nav_link p {
    text-decoration: underline; }

#landing_section {
  background-color: #000;
  height: 100vh; }

#landing_section {
  height: 85vh;
  overflow: hidden;
  position: relative; }
  #landing_section .text_ctnr {
    display: contents; }
  #landing_section #night_ctnr {
    position: relative;
    z-index: 97;
    opacity: .8; }
  #landing_section #globe_canvas {
    outline: none;
    mix-blend-mode: exclusion;
    width: 100%;
    height: 100vh; }
  #landing_section #mountain {
    bottom: 0;
    display: block;
    mix-blend-mode: luminosity;
    position: absolute;
    width: 100%;
    z-index: 98; }
  #landing_section .controls_ctnr {
    display: none; }

@media only screen and (min-width: 767px) {
  #landing_section {
    font-size: 1.6em; } }

@media only screen and (min-width: 1400px) {
  #landing_section {
    height: 85vh;
    font-size: 2em; }
    #landing_section .hero_ctnr {
      justify-content: flex-end;
      height: 85%; }
    #landing_section #mountain {
      bottom: -100px; }
    #landing_section .controls_ctnr {
      display: block;
      width: 8em;
      margin-top: 2em;
      background: #000;
      border: 4px solid #222;
      border-radius: .25em;
      padding: 1em;
      opacity: .6; }
      #landing_section .controls_ctnr p {
        text-align: center;
        font-size: .8em;
        user-select: none; }
      #landing_section .controls_ctnr .controls {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 1em;
        margin-top: 1em; }
        #landing_section .controls_ctnr .controls p {
          background-color: #222;
          padding: .5em;
          border-radius: 50%; }
      #landing_section .controls_ctnr .control_set {
        display: none;
        gap: .5em; }
      #landing_section .controls_ctnr .control_button {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center; }
        #landing_section .controls_ctnr .control_button small {
          font-size: .4em; }
      #landing_section .controls_ctnr .control_button:hover {
        cursor: pointer; } }

#titleleap_section {
  background-color: #fff;
  height: 100vh; }
  #titleleap_section h1 {
    color: #000; }

#upwork_section {
  background-color: #000;
  height: 100vh; }
