<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <meta name="description" content="description">
        <meta name="keywords" content="keywords" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>

    <body>
        {% block content %}

        {% endblock %}
    </body>

    {% block script %}


        <script>
        
        

        </script>
    {% endblock %}


</html>